header{
    width: 100%;
    height: 50px;
    background: #0797f2;
    color: #3e0a5a;
    //position: fixed;
}

.contenedor {
    width: 95%;
    margin: auto;
}

h1{
    float: left;
}

header .contenedor{
    display: table;
}